@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;500&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    margin: 0;
    font-family: 'Dancing Script', cursive;
    line-height: 1.5;
    font-weight: 300;
    animation-name: scrolling;
    animation-duration: 6s;
    overflow-x: hidden;
    flex-direction: column;
}

@keyframes scrolling
{
    0%
    {
        overflow-y: hidden;
    }

    100% {}
}

/* background video */

section.video-container
{
    justify-content: center;
    align-items: center;
    transform: scale(108%, 108%);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
}


/* header */

header#head
{
    padding: 0 40px;
    background-color: rgb(107, 177, 252);
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

header#head .logo
{
    padding-top: 7px;
    margin-left: 4%;
}

header#head .menu
{
    justify-content: center;
    text-align: center;
    align-items: center;
    float: right;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 5%;
}

header#head ul
{
    list-style: none;
}

header#head ul li
{
    font-size: 20px;
    display: inline-block;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

header#head ul li a 
{
    color: white;
    display: block;
    text-decoration: none;
    padding: 0 20px;
    line-height: 95px;
    transition: all 0.2s ease 0s;
}

header#head ul li a:hover
{
    background-color: pink;
    /* color: white; */
}

.side-nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(245, 126, 227);
    opacity: 1;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
  }
  
.side-nav a 
{
    position: relative;
    padding: 20px 40px;
    text-decoration: none;
    font-size: 30px;
    color: white;
    display: flex;
    transition: 0.3s;
}
  
.side-nav a:hover 
{
    color: rgb(107, 177, 252);
}
  
.side-nav .btn-close 
{
    cursor: pointer;
    /* position: absolute; */
    top: 0;
    left: 50px;
    font-size: 36px;
    margin-left: 50px;
    padding-bottom: 30px;
}

/* header contents configuration */

#intro
{
    height: 906px;
    background-image: url(./241434583_1735405913323671_3843456074700379487_n.jpg);
    background-position: center;
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
    text-align: center;
    position: relative;
}


#intro b
{
    padding-top: 60px;
    font-size: 350%;
    animation-name: title;
    animation-duration: 1.5s;
    color: white;
}

@keyframes title
{
    0% {opacity: 0;}
    100% {opacity: 1;}
}

#intro p
{
    font-size: 140%;
    animation: mention 1.5s;
    color: white;
}

@keyframes mention
{
    0% {opacity: 0;}
    100% {opacity: 1;}
}

#intro .logos
{
    top: 2%;
    /* padding-top: 30px; */
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    position: relative;
    animation: logo 2s;
}

@keyframes logo
{
    0% {opacity: 0;}
    100% {opacity: 1;}
}

#intro .logos img
{
    padding: 20px 0;
}

/* section p1 configuration */

#p1 .info .about
{
    /* background-image: url(./board.jpg); */
    background-color: pink;
    transform: scale(70%, 70%);
    text-align: center;
    position: relative;
    border-radius: 30px;
    padding: 20px;
    margin: 0;
}


#p1 .image
{
    margin: 0;
    background-size: cover;
    display: flex;
    justify-content: center;
}

#p1 .image img
{
    padding: 10px;
    border-radius: 40px;
}

/* section p2 configuration */

#p2 .info
{
    /* background-image: url(./board.jpg);*/
    background-color: pink;
    transform: scale(80%);
    border-radius: 30px;
    padding: 40px;
    padding-bottom: 80px;
}


#p2 .info .bannoidung-truyenthong .bannoidung .tieubanhocthuat, .tieubansukien

{
    width: fit-content;
    border-radius: 20px;
    /* padding: 20px; */
    background-image: url(./transparent-notebook-20.jpg);
    /* background-color: rgb(135, 221, 255); */
    background-size: cover;
}

#p2 .info .bannoidung-truyenthong .bannoidung .tieubanhocthuat p, .tieubansukien p
{
    font-size: 150%;
    text-align: left;
    padding: 20px;
    padding-left: 40px;
}

#p2 .info .bantruyenthong p
{
    width: fit-content; 
    background-image: url(./transparent-notebook-20.jpg);
    background-size: cover;
    border-radius: 20px;
    font-size: 150%;
    text-align: left;
    padding: 20px;
    padding-left: 40px;
}

/* section #p3 */
#p3
{
    padding-top: 20%;
    text-align: center;
    background-size: cover;
    justify-content: center;
}

#p3 .info
{
    /* background-image: url(./board.jpg); */
    background-color: pink;
    transform: scale(80%);
    border-radius: 30px;
    padding: 20px;
}

#p3 .info .contents .truongbannoidung-truyenthong
{
    padding-top: 30px;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    text-align: center;
}

#p3 .info .contents .truongbannoidung-truyenthong .phonoidung
{
    padding-top: 25px;
    display: grid;
    grid-template-columns: auto auto;   
    grid-gap: 10px;
    text-align: center;
}

#p3 .info .contents p
{
    font-size: 1.6vw;
    font-weight: bold;
    color: blueviolet;
}

#p3 .info .contents h1
{
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.35vw;
}


/* section #p4 */
#p4
{
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 20%;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 80px;
}


#p4 .info .image img
{
    padding: 10px;
    border-radius: 20px;
}

#p4 .info p
{
    /* transform: scale(30%); */
    font-weight: bold;
    background-color: pink;
    font-size: 150%;
    border-radius: 50px;
    padding: 5px 5px;
}

/* section #p5 */

#p5
{
    position: relative;
    padding-top: 30%;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#p5 .advice
{
    margin-top: 30px;
    padding: 20px;
    border-radius: 30px;
    background-color: pink;
    background-size: cover;
}

#p5 .social
{
    padding-top: 30%;
    margin-bottom: 50px;
}

#p5 .social .meta a:hover
{
    transition: 0.4s ease;
    opacity: 0.5;
}

#p5 .society img
{
    padding: 20px;
}

.reveal
{
    opacity: 0;
    transition: 1s;
}

.reveal.active
{
    opacity: 1;
}

@media screen and (max-width: 900px)
{
    #intro
    {
        height: 100vh;
    }
}
